<p>
<div id="book">
bookInfo
</div>
<hr/>
<div id="myReviewDiv" style="display: none">
My review:<br/>
<div id="myReview"/>
</div>

<div id="createReviewDiv" style="display: none">
Write a review:<br/>
<textarea id="reviewTextarea" rows="4" cols="50"/>
<input type="button" id="createReview" value="Create Review"/>
</div>
<div id="reviews">
reviews
</div>

</p>