<span>
{{#each GoodreadsResponse.search.results.work}}
  <li>
  <p>
    <a href="#book/{{this.best_book.id}}">{{this.best_book.title}}</a>
  </p>
  <p>
   by {{this.best_book.author.name}}
  </p>
  </li>
  {{/each}}

</span>
