<p>
The frame below will ask for your OAuth permission to use the Goodreads WRITE API.
If you are not already signed in to Goodreads, then please do so in the frame below.
Afterwards, that frame will redirect you to <span class="callbackURL"/>
meaning that your token has been accepted.
This top frame is currently waiting for the bottom frame to turn to : <span class="callbackURL"/>

<div id="waitingText">Still waiting...</div>
</p>
<hr/>
<h2>Technical Mumble Smumble</h2>
<div>
This Out-Of-Band frame is known as the Authorize URL in OAuth1.0.
Only after the authorization is complete will the fetchAccessToken API be available.
After authorization is complete, this app will fetch the access token and store it in 
<a href="http://diveintohtml5.info/storage.html">localStorage</a>

I arbitrarily chose <span class="callbackURL"/> as the callback page(a setting in
the Goodreads app settings).  The callbackURL will do a javascript postMessage to let the
parent know that it is loaded.  If the frame below doesn't seem to work properly, do the following:
<ol>
<li>Open in new window: <span id="authorizationURL"/></li>
<li>Fill in your credentials in the new window</li>
<li>Click <input type="button" id="done" value="Done"></li>
</div>
<hr/>
<iframe id="authorizationFrame" style="width: 100%; height: 500px">
  <p>Your browser does not support iframes.</p>
</iframe>
