<div>Due to the combination of OAuth and SOP, you must use login with the browser, chrome with the --disabled-web-security flag
<hr/>
A screen will popup (you might have to set your browser to Allow pop-ups).
Fill in the appropriate Goodreads credential in the pop-up
Afterwards, the pop-up will redirect you to Google,
meaning that your token has been accepted.
Finally click the Done button to store that token and to be 
redirected back to this app's homepage

<input type="button" id="done" value="Done"/>
</div>
