

<div id="currentStatusDiv" class="action">
<div id="currentStatus"/>
<input type="button" id="updateStatus" value="Update Status"/>
<input type="hidden" id="statusID"/>
</div>

<div id="updateStatusDiv" class="action" style="display: none">
<textarea id="updateStatusTextarea" rows="4" cols="50"/><br/>
<input type="button" id="doUpdateStatus" value="Update Status"/>
<input type="button" id="deleteStatus" value="Delete this Status"/>
<input type="button" id="cancel" value="Cancel"/>
</div>
